In [97]:
import os
import json
import pandas as pd
import helper as hp
import random

In [184]:
books_f10 = pd.read_excel('./books_f10.xlsx')
books_f20 = pd.read_excel('./books_f20.xlsx')
books_f30 = pd.read_excel('./books_f30.xlsx')
books_f40 = pd.read_excel('./books_f40.xlsx')
books_f50 = pd.read_excel('./books_f50.xlsx')
books_f10_1 = pd.read_excel('./books_f10_1.xlsx')
books_f20_1 = pd.read_excel('./books_f20_1.xlsx')
books_f30_1 = pd.read_excel('./books_f30_1.xlsx')
books_f40_1 = pd.read_excel('./books_f40_1.xlsx')
books_f50_1 = pd.read_excel('./books_f50_1.xlsx')
books_m10 = pd.read_excel('./books_m10.xlsx')
books_m20 = pd.read_excel('./books_m20.xlsx')
books_m30 = pd.read_excel('./books_m30.xlsx')
books_m40 = pd.read_excel('./books_m40.xlsx')
books_m50 = pd.read_excel('./books_m50.xlsx')
books_m10_1 = pd.read_excel('./books_m10_1.xlsx')
books_m20_1 = pd.read_excel('./books_m20_1.xlsx')
books_m30_1 = pd.read_excel('./books_m30_1.xlsx')
books_m40_1 = pd.read_excel('./books_m40_1.xlsx')
books_m50_1 = pd.read_excel('./books_m50_1.xlsx')

In [185]:
books_f10['ISBN'] = books_f10['ISBN'].astype(str)
books_f20['ISBN'] = books_f20['ISBN'].astype(str)
books_f30['ISBN'] = books_f30['ISBN'].astype(str)
books_f40['ISBN'] = books_f40['ISBN'].astype(str)
books_f50['ISBN'] = books_f50['ISBN'].astype(str)
books_f10_1['ISBN'] = books_f10_1['ISBN'].astype(str)
books_f20_1['ISBN'] = books_f20_1['ISBN'].astype(str)
books_f30_1['ISBN'] = books_f30_1['ISBN'].astype(str)
books_f40_1['ISBN'] = books_f40_1['ISBN'].astype(str)
books_f50_1['ISBN'] = books_f50_1['ISBN'].astype(str)
books_m10['ISBN'] = books_m10['ISBN'].astype(str)
books_m20['ISBN'] = books_m20['ISBN'].astype(str)
books_m30['ISBN'] = books_m30['ISBN'].astype(str)
books_m40['ISBN'] = books_m40['ISBN'].astype(str)
books_m50['ISBN'] = books_m50['ISBN'].astype(str)
books_m10_1['ISBN'] = books_m10_1['ISBN'].astype(str)
books_m20_1['ISBN'] = books_m20_1['ISBN'].astype(str)
books_m30_1['ISBN'] = books_m30_1['ISBN'].astype(str)
books_m40_1['ISBN'] = books_m40_1['ISBN'].astype(str)
books_m50_1['ISBN'] = books_m50_1['ISBN'].astype(str)

In [186]:
def multiply_isbn(books):
    isbn_list = books['ISBN']
    cnt_list = books['대출건수']

    multi_list = []
    for i in range(len(isbn_list)):
        val = isbn_list[i]
        for j in range(cnt_list[i]):
            multi_list.append(val)

    return multi_list

In [187]:
f10_isbn = multiply_isbn(books_f10)
f20_isbn = multiply_isbn(books_f20)
f30_isbn = multiply_isbn(books_f30)
f40_isbn = multiply_isbn(books_f40)
f50_isbn = multiply_isbn(books_f50)
f10_1_isbn = multiply_isbn(books_f10_1)
f20_1_isbn = multiply_isbn(books_f20_1)
f30_1_isbn = multiply_isbn(books_f30_1)
f40_1_isbn = multiply_isbn(books_f40_1)
f50_1_isbn = multiply_isbn(books_f50_1)
m10_isbn = multiply_isbn(books_m10)
m20_isbn = multiply_isbn(books_m20)
m30_isbn = multiply_isbn(books_m30)
m40_isbn = multiply_isbn(books_m40)
m50_isbn = multiply_isbn(books_m50)
m10_1_isbn = multiply_isbn(books_m10_1)
m20_1_isbn = multiply_isbn(books_m20_1)
m30_1_isbn = multiply_isbn(books_m30_1)
m40_1_isbn = multiply_isbn(books_m40_1)
m50_1_isbn = multiply_isbn(books_m50_1)

In [188]:
def make_user(group, isbn):
    user = pd.DataFrame()
    for i in range(100):
        user_id = group + '_' + str(i)
        random.shuffle(isbn)
        books = random.sample(isbn, 46)
        books = list(set(books))
        user = user.append({'user_id': user_id, 'group': group, 'books': books}, ignore_index=True)
    
    return user

In [189]:
user_f10 = make_user('f10', f10_isbn)
user_f20 = make_user('f20', f20_isbn)
user_f30 = make_user('f30', f30_isbn)
user_f40 = make_user('f40', f40_isbn)
user_f50 = make_user('f50', f50_isbn)
user_f10_1 = make_user('f10_1', f10_1_isbn)
user_f20_1 = make_user('f20_1', f20_1_isbn)
user_f30_1 = make_user('f30_1', f30_1_isbn)
user_f40_1 = make_user('f40_1', f40_1_isbn)
user_f50_1 = make_user('f50_1', f50_1_isbn)
user_m10 = make_user('m10', m10_isbn)
user_m20 = make_user('m20', m20_isbn)
user_m30 = make_user('m30', m30_isbn)
user_m40 = make_user('m40', m40_isbn)
user_m50 = make_user('m50', m50_isbn)
user_m10_1 = make_user('m10_1', m10_1_isbn)
user_m20_1 = make_user('m20_1', m20_1_isbn)
user_m30_1 = make_user('m30_1', m30_1_isbn)
user_m40_1 = make_user('m40_1', m40_1_isbn)
user_m50_1 = make_user('m50_1', m50_1_isbn)

In [190]:
users = pd.concat([user_m10, user_m20, user_m30, user_m40, user_m50, user_m10_1, user_m20_1, user_m30_1, user_m40_1, user_m50_1, user_f10, user_f20, user_f30, user_f40, user_f50, user_f10_1, user_f20_1, user_f30_1, user_f40_1, user_f50_1])

                                                books  group   user_id
0   [9788954646079, 9791160802160, 9791157107223, ...    m10     m10_0
1   [9788954646079, 9788965962830, 9788937460043, ...    m10     m10_1
2   [9791189799052, 9788983711922, 9791130604190, ...    m10     m10_2
3   [9788954646079, 9788983711892, 9791161960395, ...    m10     m10_3
4   [9788994353197, 9788947545150, 9788988907412, ...    m10     m10_4
..                                                ...    ...       ...
95  [9788959896127, 9791185392776, 9791187113072, ...  f50_1  f50_1_95
96  [9788994909073, 9791189856113, 9788959896127, ...  f50_1  f50_1_96
97  [9791186560464, 9791187580409, 9791189856113, ...  f50_1  f50_1_97
98  [9788963702926, 9791185392776, 9791157843183, ...  f50_1  f50_1_98
99  [9791155361429, 9791196630430, 9788926396858, ...  f50_1  f50_1_99

[2000 rows x 3 columns]

In [238]:
users = users.reset_index()

,index,books,group,user_id
0,0,"[9788958203919, 9791160802160, 9788937473135, ...",m10,m10_0
1,1,"[9788954646079, 9788965962830, 9788937460043, ...",m10,m10_1
2,2,"[9791189799052, 9788983711922, 9791130604190, ...",m10,m10_2
3,3,"[9788954646079, 9788983711892, 9791161960395, ...",m10,m10_3
4,4,"[9788901165813, 9788933870693, 9788994353197, ...",m10,m10_4
...,...,...,...,...
1995,95,"[9791190179232, 9788984058392, 9788994120997, ...",f50_1,f50_1_95
1996,96,"[9788994909073, 9791189856113, 9788959896127, ...",f50_1,f50_1_96
1997,97,"[9791186560464, 9791187580409, 9791189856113, ...",f50_1,f50_1_97
1998,98,"[9788963702926, 9791185392776, 9791157843183, ...",f50_1,f50_1_98
1999,99,"[9791190238182, 9791155360507, 9788996991342, ...",f50_1,f50_1_99

In [239]:
users.to_json("./users.json", orient='records')

In [192]:
valid = users.sample(n=600, random_state=1234)
vaild = valid.reset_index()

In [193]:
valid = valid.reset_index()

In [194]:
train = users[users['user_id'].isin(valid['user_id']) == False]

In [195]:
train = train.reset_index()

In [196]:
train.to_json("./train.json", orient='records')
valid.to_json("./valid.json", orient='records')

In [197]:
question = pd.DataFrame()
answer = pd.DataFrame()
for i in range(len(valid)):
    user = valid.iloc[i]
    books = user['books']
    random.shuffle(books)
    ans_books = random.sample(books, 20)
    qst_books = []
    for val in books:
        if val not in ans_books:
            qst_books.append(val)
    
    question = question.append({'user_id': user['user_id'], 'group': user['group'], 'books': qst_books}, ignore_index=True) 
    answer = answer.append({'user_id': user['user_id'], 'group': user['group'], 'books': ans_books}, ignore_index=True)

In [198]:
question.to_json("./question.json", orient='records')
answer.to_json("./answer.json", orient='records')

In [252]:
books = pd.concat([books_m10, books_m20, books_m30, books_m40, books_m50, books_m10_1, books_m20_1, books_m30_1, books_m40_1, books_m50_1, books_f10, books_f20, books_f30, books_f40, books_f50, books_f10_1, books_f20_1, books_f30_1, books_f40_1, books_f50_1])
books = books.reset_index()
books = books[['ISBN', 'ISBN부가기호', 'KDC', '서명', '저자', '출판사', '출판년도', '권']]

,ISBN,ISBN부가기호,KDC,서명,저자,출판사,출판년도,권
0,9788995151204,3810,813.600,난장이가 쏘아올린 작은 공:조세희 소설집,조세희,이성과 힘,2000,NaN
1,9788932471631,3470,491.510,이기적 유전자 :진화론의 새로운 패러다임,리처드 도킨스 지음 ;이상임 옮김,을유문화사,2010,NaN
2,9791160560510,3400,404.000,열두 발자국,지은이: 정재승,어크로스,2018,NaN
3,9788972756194,3830,833.600,나미야 잡화점의 기적 :히가시노 게이고 장편소설,지은이: 히가시노 게이고 ;옮긴이: 양윤옥,현대문학,2012,NaN
4,9788998274795,3830,833.600,돌이킬 수 없는 약속 :야쿠마루 가쿠 장편소설,저자: 야쿠마루 가쿠 ;옮긴이: 김성미,Book plaza(북플라자),2017,NaN
...,...,...,...,...,...,...,...,...
3995,9791155360743,13590,595.400,라이프 인테리어 교과서,지은이: 주부의벗사 편집부 ;옮긴이: 박승희,즐거운상상,2018,NaN
3996,9791155361238,13590,325.211,나는 오늘 책상을 정리하기로 했다 :일이 편해지고 시간도 버는 88가지 정리 아이디어,지은이: Emi ;옮긴이: 남궁가윤,즐거운상상,2018,NaN
3997,9791155361283,13590,595.400,(돈과 시간이 쌓이는) 1일 1분 정리법,지은이: 고마츠 야스시 ;옮긴이: 박승희,즐거운상상,2019,NaN
3998,9791155811344,13590,590.400,와비사비 라이프 :없는 대로 잘 살아갑니다,줄리 포인터 애덤스 지음 ;박여진 옮김,윌북,2017,NaN
3999,9791160504255,13320,327.870,부자가 되려면 부자를 만나라 =진짜 부자들이 알려주지 않는 투자의 비법 /If yo...,고준석 지음,길벗,2018,NaN

In [262]:
books = books.drop_duplicates(['ISBN'])

,ISBN,ISBN부가기호,KDC,서명,저자,출판사,출판년도,권
0,9788995151204,3810,813.600,난장이가 쏘아올린 작은 공:조세희 소설집,조세희,이성과 힘,2000,NaN
1,9788932471631,3470,491.510,이기적 유전자 :진화론의 새로운 패러다임,리처드 도킨스 지음 ;이상임 옮김,을유문화사,2010,NaN
2,9791160560510,3400,404.000,열두 발자국,지은이: 정재승,어크로스,2018,NaN
3,9788972756194,3830,833.600,나미야 잡화점의 기적 :히가시노 게이고 장편소설,지은이: 히가시노 게이고 ;옮긴이: 양윤옥,현대문학,2012,NaN
4,9788998274795,3830,833.600,돌이킬 수 없는 약속 :야쿠마루 가쿠 장편소설,저자: 야쿠마루 가쿠 ;옮긴이: 김성미,Book plaza(북플라자),2017,NaN
...,...,...,...,...,...,...,...,...
3993,9788998075668,13510,517.520,케토 다이어트 :지방을 태우는 식사법,리앤 보겔 지음 ;이문영 옮김,라이팅하우스,2019,NaN
3995,9791155360743,13590,595.400,라이프 인테리어 교과서,지은이: 주부의벗사 편집부 ;옮긴이: 박승희,즐거운상상,2018,NaN
3996,9791155361238,13590,325.211,나는 오늘 책상을 정리하기로 했다 :일이 편해지고 시간도 버는 88가지 정리 아이디어,지은이: Emi ;옮긴이: 남궁가윤,즐거운상상,2018,NaN
3998,9791155811344,13590,590.400,와비사비 라이프 :없는 대로 잘 살아갑니다,줄리 포인터 애덤스 지음 ;박여진 옮김,윌북,2017,NaN
3999,9791160504255,13320,327.870,부자가 되려면 부자를 만나라 =진짜 부자들이 알려주지 않는 투자의 비법 /If yo...,고준석 지음,길벗,2018,NaN

In [263]:
books = books.reset_index()

,index,ISBN,ISBN부가기호,KDC,서명,저자,출판사,출판년도,권
0,0,9788995151204,3810,813.600,난장이가 쏘아올린 작은 공:조세희 소설집,조세희,이성과 힘,2000,NaN
1,1,9788932471631,3470,491.510,이기적 유전자 :진화론의 새로운 패러다임,리처드 도킨스 지음 ;이상임 옮김,을유문화사,2010,NaN
2,2,9791160560510,3400,404.000,열두 발자국,지은이: 정재승,어크로스,2018,NaN
3,3,9788972756194,3830,833.600,나미야 잡화점의 기적 :히가시노 게이고 장편소설,지은이: 히가시노 게이고 ;옮긴이: 양윤옥,현대문학,2012,NaN
4,4,9788998274795,3830,833.600,돌이킬 수 없는 약속 :야쿠마루 가쿠 장편소설,저자: 야쿠마루 가쿠 ;옮긴이: 김성미,Book plaza(북플라자),2017,NaN
...,...,...,...,...,...,...,...,...,...
1694,3993,9788998075668,13510,517.520,케토 다이어트 :지방을 태우는 식사법,리앤 보겔 지음 ;이문영 옮김,라이팅하우스,2019,NaN
1695,3995,9791155360743,13590,595.400,라이프 인테리어 교과서,지은이: 주부의벗사 편집부 ;옮긴이: 박승희,즐거운상상,2018,NaN
1696,3996,9791155361238,13590,325.211,나는 오늘 책상을 정리하기로 했다 :일이 편해지고 시간도 버는 88가지 정리 아이디어,지은이: Emi ;옮긴이: 남궁가윤,즐거운상상,2018,NaN
1697,3998,9791155811344,13590,590.400,와비사비 라이프 :없는 대로 잘 살아갑니다,줄리 포인터 애덤스 지음 ;박여진 옮김,윌북,2017,NaN
1698,3999,9791160504255,13320,327.870,부자가 되려면 부자를 만나라 =진짜 부자들이 알려주지 않는 투자의 비법 /If yo...,고준석 지음,길벗,2018,NaN

In [267]:
del books['index']

In [269]:
books.to_json("./books.json", orient='records')

In [270]:
books.to_excel('./books.xlsx')